/* ----- GLOBAL ----- */

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background: white;
    color: black;
    line-height: 1.6;
    height: 100vh;
    weight: 300;

  }
  
/* ----- MAIN ----- */

  .container {
    width: 100%;
    height: 100%;
  }
  
  .logo {
    position: absolute;
    left: 80px;
    top: 10px;
  }

  .logo img {
    width: 200px;
  }

  .navbar {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;
    
    background-color: #FFFFFF;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 97%;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    }
  
  .navbar ul li {
    margin: 0 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #322F65;
  }
  
  .navbar ul li a:hover {
    color: #5A4FF3;
  }
  
  .login {
    border: solid 1px #322F65;
    padding: 0.6rem 5rem;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* scroll-snap-align: center; */
  }
  
  section h1,
  section h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
  }
  
  section p {
    font-size: 1.5rem;
  }

  #home {
    height: 110vh;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    background-color: #DCD9FB;
  }

  .imagemHome {
    position: absolute;
    right: 62px;
    top: 156px;
    z-index:9;
  }

  .imagemHome img {
    width: 555px;
    height: 450px;
    object-fit: contain;
  }

  .bloco {
    position: absolute;
    width: 469px;
    height: 412px;
    right: 29px;
    top: 282px;
    background-color: #322F65;
    background-size: cover;
  }

  .texto-home {
    position: absolute;
    left: 80px;
    font-size: 50px;
    width: 307px;
    height: 199px;
    top: 180px;
    text-align: left;
  }

  .para-mim {
    position: absolute;
    width: 305px;
    height: 67px;
    top: 439px;
    left: 188px;
    font-size: 24px;

    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #5A4FF3;
    cursor:pointer;
  }

  .para-mim:hover {
  background-color: #322F65;
  }

  .para-empresa {
    position: absolute;
    width: 305px;
    height: 67px;
    top: 539px;
    left: 188px;
    font-size: 24px;

    justify-content: center;
    align-items: center;
    color: #5A4FF3;
    background-color: #DCD9FB;
    border: 1px solid #5A4FF3;
    cursor:pointer;
  }

  .para-empresa:hover {
    background-color: #322F65;
    color: #FFFFFF;
    border: 1px solid #322F65;;
  }

  #speed-hiring {
    background-color: #FFFFFF;
  }
  
  .linhaverticalSH {
    position: absolute;
    height: 60px;
    width: 5px;
    left: 96px;
    top: 770px;
    background-color: #5A4FF3;
  }

  .screenSH {
    position: absolute;
    font-size: 60px;
    left: 70px;
    top: 750px;
    width: 762px;
  }

    .textoSH {
    position: absolute;
    font-size: 24px;
    left: 95px;
    top: 860px;
    width: 660px;
    text-align: left;
  }

  #blocotxt-1 {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 280px;
    height: 80px;
    left: 96px;
    top: 1180px;
  }

  .linhaverticalSH1  {
    position: absolute;
    height: 100px;
    width: 5px;
    align-self: center;
    left: 40px;
    background-color: #5A4FF3;
  }

  .numero1 {
    font-size: 60px;
    align-self: center;
    justify-content: start;
    padding-right:20px;
  }
  
  .passo1 {
    font-size: 60px;
    width: 286px;
    text-align: left;
  }

  #blocotxt-2 {
    display: flex;
    position: absolute;
    width: 340px;
    height: 80px;
    left: 500px;
    top: 1080px;
  }

  .linhaverticalSH2  {
    position: absolute;
    height: 100px;
    width: 5px;
    align-self: center;
    left: 40px;
    background-color: #5A4FF3;
  }

  .numero2 {
    font-size: 60px;
    align-self: center;
    justify-content: start;
    padding-right:20px;
  }
  
  .passo2 {
    font-size: 60px;
    width: 286px;
    text-align: left;
  }
  
  #blocotxt-3 {
    display: flex;
    position: absolute;
    width: 300px;
    height: 80px;
    left: 956px;
    top: 980px;
    justify-content: center;
    align-items: center;
  }

  .linhaverticalSH3 {
    position: absolute;
    height: 100px;
    width: 5px;
    align-self: center;
    left: 40px;
    background-color: #5A4FF3;
  }

  .numero3 {
    font-size: 60px;
    align-self: center;
    justify-content: start;
    padding-right:20px;
  }
  
  .passo3 {
    font-size: 60px;
    width: 286px;
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  #vantagens {
    color: #FFFFFF;
    background-color: #322F65;
  }

  .linha-parcerias {
    position: absolute;
    display: flex;
    align-items: center;
    height: 55px;
    top: 135px;
    left: 60px;
    border-right: 5px solid #5A4FF3;
    z-index: 1;
  }
  
  #parcerias {
    position: absolute;
    top: 4700px;
    background-color: white;
  }

  #parcerias h2 {
    position: absolute;
    display: block;
    top: 100px;
    left: 75px;
    width: 806px;
    height: auto;
    color: #202020;
    text-align: left;
    font-style: normal;
    font-size: 80px;
    font-weight: 300;
    z-index: 1;
  }

  #parcerias ul {
    background-color: white;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }

  .lista-parcerias {
    top: 4700px;
  }

/* ----- FOOTER ----- */

.footer {
  position: absolute;
  color: white;
  height: 482px;
  width: 100%;
  left: 0px;
  top: 5280px;
  background: #322F65;
}

#rodape h2 {
  position: absolute;
  display: block;
  top: 100px;
  left: 75px;
  width: 806px;
  height: auto;
  color: white;
  text-align: left;
  font-style: normal;
  font-size: 80px;
  font-weight: 300;
}

.linha-vertical1 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 90px;
  left: 360px;
  border-right: 2px solid white;
  z-index: 1;
}

.linha-vertical2 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 90px;
  left: 770px;
  border-right: 2px solid white;
  z-index: 1;
}

.contatos {
  position: absolute;
  top: 300px;
  left: 188px;
  right: 188px;
  justify-content: center;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.contatos1 {
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
}

.contatos2 {
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
}

.contatos2 p {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.instagram {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: left;
}

.instagram img {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  padding-right: 10px;
}

.twitter {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: left;
}

.twitter img {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  padding-right: 10px;
}

.contatos3 {
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
}

.contatos3 p {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.linkedin {
  display: flex;
  position: relative;
  top: 10px;
  align-items: center;
  justify-content: center;
}

.linkedin img {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  padding-right: 10px;
}
